
/* Define Color Variables for NextGen Circuits */
:root {
    --primary-color: #0056b3; /* Deeper Cyber Blue */
    --accent-color: #e65100; /* Richer Electric Orange/Red */
    --secondary-color: #f5f8ff; /* Soft off-white/light blue */
    --dark-color: #212529; /* Near-black for structure */
    --light-text: #ffffff;
    --text-color: #495057; /* Dark gray for main text */
}
/*contact-section*/
.contact{
  background-color:var(--primary-color) ;
  color: var(--light-text);
  text-align: center;
}
.contact h2{
  color: var(--light-text);
}
.contact h2 ::after{
  background-color: var(--light-text);
}
.contact-form{
  width: 600px;
  margin: 0 auto;
}
.contact-form input,.contact-form textarea{
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: var(--light-text);
  font-size: 1.5rem;
  margin:15px 0;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}
.contact-form button{
  padding:15px 40px;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  background-color:var(--accent-color);
  color: var(--light-text);
  cursor: pointer;
  transition: background-color 0.3s ease ,transform 0.2s ease;
}
.contact-form button :hover{
  background-color: #cc4500;
  transform: translateY(-2px);
}